@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap");
* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

nav {
  background: linear-gradient(169deg, rgba(57, 132, 244, 0.2) -6.01%, rgba(12, 211, 255, 0.2) 36.87%, rgba(47, 124, 240, 0.2) 78.04%, rgba(14, 101, 232, 0.2) 103.77%);
  display: flex;
  flex-direction: column;
}
nav .navbar {
  background: transparent;
}
nav .navbar ul li {
  padding: 0 15px;
}
nav .navbar .btn-light {
  background: transparent !important;
  border: 2px solid var(--GRA-Blue2, #3984F4) !important;
  color: #0C66EE;
}
nav .navbar .btn {
  padding: 10px 30px;
  border-radius: 30px;
}
@media (max-width: 1100px) {
  nav .btn {
    padding: 0;
  }
}

.hero-section {
  padding: 100px 0;
}
.hero-section .content {
  position: relative;
}
.hero-section .content .star {
  position: absolute;
  top: 0;
  right: 100px;
}
.hero-section .content .hero-small {
  background: var(--GRA-Blue, linear-gradient(137deg, #468EF9 -12.5%, #0C66EE 107.5%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  display: block;
}
.hero-section .content h1 {
  color: var(--FONT-BLACK, #222);
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: 82px;
}
.hero-section .content h1 span {
  background: var(--GRA-Blue2, linear-gradient(169deg, #3984F4 -6.01%, #0CD3FF 36.87%, #2F7CF0 78.04%, #0E65E8 103.77%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Poppins;
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: 82px;
}
.hero-section .content .hero-btn {
  position: relative;
}
.hero-section .content .hero-btn img {
  position: absolute;
  top: 50px;
  left: -50px;
}
.hero-section .content .hero-btn .btn {
  padding: 10px 30px;
  border-radius: 30px;
}
@media (max-width: 576px) {
  .hero-section .content .hero-btn .btn .btn {
    display: block;
  }
}
.hero-section .content .hero-btn .btn-outline-secondary {
  border: 2px solid var(--GRA-Blue2, #3984F4);
  color: #0C66EE;
}
.hero-section .content .hero-dot {
  position: absolute;
  bottom: -50px;
  left: 0;
  width: 28px;
  height: 28px;
}
.hero-section .photo img {
  width: 100%;
  height: auto;
  flex-shrink: 0;
}

@media (max-width: 576px) {
  .content img {
    display: none;
  }
}
@media (max-width: 1200px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .star {
    display: none;
  }
  .dot {
    display: none;
  }
}
@media (max-width: 768px) {
  .hero-section .content h1 {
    font-size: 34px !important;
    line-height: 45px !important;
  }
  .hero-section .content h1 span {
    font-size: 34px !important;
    line-height: 45px !important;
  }
  .photo {
    margin-top: 70px !important;
  }
}
@media (max-width: 576px) {
  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}
@media (max-width: 576px) and (max-width: 576px) {
  .content .star {
    display: none;
  }
}
@media (max-width: 576px) {
  .content .hero-small {
    font-size: 14px;
  }
  .content h1 {
    font-size: 34px !important;
    line-height: 45px !important;
    padding: 0 100px;
    margin-top: 12px;
  }
  .content h1 span {
    font-size: 34px !important;
    line-height: 45px !important;
  }
  .content .subtitle {
    display: none;
  }
  .photo {
    display: none;
  }
  .hero-btn {
    display: flex;
    flex-direction: column;
  }
  .hero-btn .started-btn {
    width: 310px;
    height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .hero-btn button {
    width: 310px;
    height: 58px;
    margin-top: 16px;
    margin-right: 15px;
  }
  .hero-btn .dot {
    display: none;
  }
}
.asd {
  margin-top: -50px;
  border-radius: 40px;
  background-color: white;
}

.my-table {
  margin-top: -60px;
}
.my-table .table-cont {
  background-color: white;
  border-radius: 12px;
  padding: 10px;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.my-table .header {
  display: flex;
  justify-content: space-between;
}
.my-table .table {
  width: 100%;
  table-layout: fixed;
  background-color: white;
}
@media (max-width: 576px) {
  .my-table .none {
    display: none;
  }
}

.doviz {
  width: 1100px;
}
.doviz form .esin {
  width: 100% !important;
}
.doviz .sinan {
  font-size: 18px;
  line-height: 30px;
}
.doviz .form {
  position: relative;
  display: flex;
}
.doviz .form label {
  position: absolute;
  top: 28px;
  left: 30px;
  color: #0C66EE;
  padding-right: 15px;
  border-right: 1px solid var(--GRA-Blue2, #3984F4);
}
.doviz .form input[type=number] {
  height: 80px;
  width: 336px;
  border-radius: 22px;
  border: 2px solid var(--GRA-Blue2, #3984F4);
  text-align: right;
}
.doviz .form .form-select {
  margin-left: 15px;
  width: 199px !important;
  height: 80px !important;
  border: 2px solid var(--GRA-Blue2, #3984F4);
  border-radius: 22px;
  text-align: center;
}
.doviz .doviz-img {
  width: 100%;
  height: auto;
}
@media (max-width: 576px) {
  .doviz input {
    width: 200px !important;
  }
  .doviz .doviz .form input[type=number] {
    width: 136px !important;
  }
  .doviz form {
    padding: 0 !important;
    margin: 0 !important;
  }
  .doviz form .esin {
    width: 80% !important;
    margin-left: 30px !important;
  }
  .doviz .doviz-img {
    margin-top: 20px;
    margin-left: 70px;
    width: 300px !important;
    height: auto !important;
  }
}
@media (max-width: 768px) {
  .doviz img {
    margin-left: 70px;
    width: 100% !important;
    height: auto !important;
  }
}

.partners {
  margin-top: 100px;
  margin-left: 30px;
  margin-right: 30px;
  border-radius: 40px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) -9.25%, rgba(255, 255, 255, 0.6) -9.25%, rgba(244, 249, 255, 0.7) 108.74%);
}
@media (max-width: 576px) {
  .partners .col {
    display: flex;
    justify-content: center;
  }
}

.credit-card {
  margin-top: 200px;
}
.credit-card .credit-img {
  width: 671px;
  height: auto;
  padding-right: 25px;
}
.credit-card h1 {
  padding-right: 20px;
}
.credit-card h1 .nefa {
  background: linear-gradient(169deg, #3984F4 -6.01%, #0CD3FF 36.87%, #2F7CF0 78.04%, #0E65E8 103.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.credit-card .bi {
  padding-right: 10px;
}
.credit-card .join-btn {
  margin-top: 30px !important;
  padding: 15px 30px;
  background: var(--GRA-Blue, linear-gradient(137deg, #468EF9 -12.5%, #0C66EE 107.5%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  border-radius: 40px;
  border: 2px solid var(--GRA-Blue2, #3984F4);
  display: inline-block;
}
@media (max-width: 576px) {
  .credit-card .credit-card {
    display: flex;
    justify-content: center;
  }
  .credit-card .credit-img {
    margin-left: 30px;
    margin-bottom: 30px;
    width: 300px !important;
    height: auto !important;
  }
  .credit-card .join-btn {
    margin-top: 30px !important;
  }
}

.tools {
  margin-top: 200px;
  margin-bottom: 200px;
  border-radius: 40px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) -9.25%, rgba(244, 249, 255, 0.1) -9.25%, rgba(244, 249, 255, 0.7) 108.74%);
}
.tools h1 span {
  background: linear-gradient(169deg, #3984F4 -6.01%, #0CD3FF 36.87%, #2F7CF0 78.04%, #0E65E8 103.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.tools .tools-btn {
  display: flex;
  align-items: center;
}
.tools .tools-btn div {
  padding: 10px 30px;
  border-radius: 30px;
  border: 2px solid var(--GRA-Blue2, #3984F4);
  background: linear-gradient(169deg, #3984F4 -6.01%, #0CD3FF 36.87%, #2F7CF0 78.04%, #0E65E8 103.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
@media (max-width: 576px) {
  .tools .tools-btn .row {
    flex-direction: column-reverse;
  }
}
.tools .tools-img {
  width: 700px;
  height: 600px;
}
@media (max-width: 576px) {
  .tools .tools-img {
    width: 300px !important;
    height: auto !important;
  }
}

@media (max-width: 576px) {
  .security .row {
    flex-direction: column;
  }
}
.minutes {
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) -9.25%, rgba(255, 255, 255, 0.6) -9.25%, rgba(244, 249, 255, 0.7) 108.74%);
  display: flex;
  justify-content: center;
}
.minutes .my-container {
  width: 1377px;
  height: auto;
}
.minutes h1 {
  text-align: center;
}
.minutes .col {
  position: relative;
}
.minutes .min-text {
  padding: 5px 80px 5px 80px;
}
.minutes .arrow {
  width: 197px;
  height: 12px;
  position: absolute;
  top: 40%;
  left: 78%;
}
@media (max-width: 576px) {
  .minutes .row {
    flex-direction: column;
  }
  .minutes .arrow {
    display: none;
  }
}
@media (max-width: 768px) {
  .minutes .arrow {
    display: none;
  }
}

.faq .faq-img {
  width: 100%;
  height: auto;
}
.faq .support {
  background: linear-gradient(169deg, #3984F4 -6.01%, #0CD3FF 36.87%, #2F7CF0 78.04%, #0E65E8 103.77%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.faq .accordion {
  border: none !important;
}
@media (max-width: 576px) {
  .faq .row {
    flex-direction: column;
  }
}

.id a .id-btn {
  color: black;
  border: 1px solid #DDDDDD !important;
  background: linear-gradient(0deg, #DDDDDD, #DDDDDD), linear-gradient(0deg, #FAFAFA, #FAFAFA);
}

footer .container {
  border-top: 1px solid #DDDDDD;
  border-bottom: 1px solid #DDDDDD;
}
footer .container .logo {
  width: 129px;
  height: 52px;
}
footer .container ul {
  list-style: none;
  position: relative;
  display: flex;
  flex-direction: column;
}
footer .container ul a {
  color: #666666;
  text-decoration: none;
}
footer .container ul a li {
  margin: 15px 0;
}
footer form div {
  display: flex;
  align-items: center;
  position: relative;
}
footer form div input[type=email] {
  position: relative;
  border: 1px solid #DDDDDD;
  border-radius: 8px;
  padding: 5px 0;
  margin-right: 10px;
}
footer form div label {
  position: absolute;
  top: 6px;
  left: -90px;
}

@media (max-width: 576px) {
  .logo {
    display: none;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .col {
    margin: 0 !important;
    padding: 0 !important;
  }
  footer .items {
    display: flex;
    justify-content: center;
  }
  footer ul {
    margin: 0 !important;
    padding: 0 !important;
  }
  footer .abd {
    display: flex;
    flex-direction: column;
  }
  footer .footer-mail {
    margin-left: 200px !important;
  }
}/*# sourceMappingURL=style.css.map */